<!--The content below is only a placeholder and can be replaced.-->
<div style = "margin-top: -23px"class = container-fluid>
    <div style = "height: 100px"class="row">
      <h1 style="background-color: rgb(39, 39, 77);color: white;height: 90px">Tool Source</h1>

    </div>

</div>
<div style = "padding-top:20px;"class="container-fluid">
  
  <div class="row">
    <div (click)= "conerter()" *ngFor = "let converter of converters "  class="col-sm-3">
      <div  class="thumbnail">
        <img src="src\assets\images\mynewImage.png" style = "min-height:10px;height:300px;width:400px" alt="converter">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <!-- <p></p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
        </div>
      </div>
    </div>
  
 </div>
  
    
  
</div>
<div style = "background-color:rgb(39, 39, 77);height:270px"class = container-fluid>
  <div style ="background-color:white;height:260px;margin-top:10px">
    <div style ="background-color:white;height:100px" class = col-sm-3></div>
     <div style ="background-color:white;height:100px" class = col-sm-3></div>
     <div style ="background-color:rgb(39, 39, 77);height:260px;margin-right:-15px" class = col-sm-6>
    <h1 style = "color:white">Submmit Your Query</h1>
     <form>
      <div class="form-group">
        <label style= "color:white" for = "comment">Query:</label>
        <textarea [(ngModel)] = "message" style = "font-weight: bold"  class="form-control text-capitalize font-weight-bold" rows="5" name ="test" id="comment"></textarea>
     
      <!-- <button (click)="submmitQuery()" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Submmit</button> -->
      </div>
      <!-- <button  type="button" class="btn btn-default">Submmit</button> -->
      <button (click)="submmitQuery()" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Submmit</button>
      </form>
    
      <div *ngIf="status == 'Success'" class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong>{{alertMessage}}
      </div> 
      <div *ngIf="status == 'Failure'" class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
      <div id= {{modelValue}} class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- login Modal content------> 
          <div class="modal-content" >
            <div style="background-color:rgb(39, 39, 77) " class="modal-header">
              <button style ="background-color: white;color:black" type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style = "text-align: center;font-weight: bold;color: white" class="modal-title">login</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4" for="email">Email:</label>
                  <div class="col-sm-6">

                    <input [(ngModel)] ="actualName" type="text" class="form-control" id="email" placeholder="Enter email" name="actualName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="pwd">Password:</label>
                  <div class="col-sm-6">          
                    <input [(ngModel)] ="actualPassword" type="password" class="form-control" id="pwd" placeholder="Enter password" name="actualPassword">
                  </div>
                </div>
                
                <div class="form-group">        
                  <div class="col-sm-offset-4 col-sm-10">
                    <button (click) = "login()"  style = "font-weight: bold" type="submit" class="btn btn-default">login</button> <button style = "font-weight: bold" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
            
            <div class="modal-footer">
              <span> <p style="color:green;font-weight: bold;text-align: left">not at Register ?register here </p></span> <span><button (click) = "register('register')" style="align-items: center" type="button" class="btn btn-default" data-toggle="modal" data-target="#registerDiv">Register</button></span>
            
              <!-- <button type="button" class="btn btn-default" >login</button> -->
            </div>
          </div>
      
        </div>
      </div>
      <div id= {{registerDivValue}} class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- register Modal content-->
            <div class="modal-content">
              <div style="background-color:rgb(39, 39, 77) " class="modal-header">
                <button style ="background-color: white;color:black" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style = "text-align: center;font-weight: bold;color: white" class="modal-title">Register</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Password:</label>
                    <div class="col-sm-6">          
                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-sm-2" for="mbl">Mobile:</label>
                      <div class="col-sm-6">          
                        <input type="text" class="form-control" id="mbl" placeholder="Enter Mobile number" name="mbl">
                      </div>
                    </div>
                  
                  <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Register</button> <button type="button" class="btn btn-default" data-dismiss="modal"  >Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <span> <p style="color:green;font-weight: bold;text-align: left">login  </p></span> <span><button  style ="align-items: center" type="button" class="btn btn-default" data-dismiss="modal">login</button></span>
              
                <!-- <button type="button" class="btn btn-default" >login</button> -->
              </div>
            </div>
        
          </div>
        </div>
      
        
    </div>
  </div>
</div>

<!-- 
<div *ngFor = "let con of converters " class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="src\assets\images\mynewImage.png" alt="...">
    </a>
  </div>
  ...
</div> -->


<!-- <router-outlet></router-outlet> -->
    
  
